<a href="https://colab.research.google.com/github/Hamzahmed/Automate_Boring_Stuff_Math_Problems/blob/main/Parity_Outlier.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = [2, 4, 6, 8, 10, 3]
b = [2, 4, 0, 100, 4, 11, 2602, 36]
c = [160, 3, 1719, 19, 11, 13, -21]

def find_outlier(list_integers):
    odd = []
    even = []
    for num in list_integers:
       if num % 2 != 0:
         odd.append(num)
       elif num % 2 == 0:
         even.append(num)
    for num in list_integers:
      if len(odd) < len(even):
        return odd[0]
      else:
        return even[0]

print(find_outlier(a))

print(find_outlier(b))

print(find_outlier(c))

3
11
160

In [ ]:
def find_outlier(x):
    odd = [i for i in x if i % 2 != 0]
    even = [i for i in x if i % 2 == 0]
    return odd[0] if len(odd) < len(even) else even[0]
print(find_outlier(a))

print(find_outlier(b))

print(find_outlier(c))

3
11
160

In [ ]:
input_string = input()

# Print a string literal saying "Hello, World." to stdout.
print('Hello, World.')
print(input_string)

sdfds
Hello, World.
sdfds

In [1]:
counts = { 'chuck' : 1 , 'annie' : 42, 'jan': 100}
for key in counts:
    if counts[key] > 10:
        print(key, counts[key])

annie 42
jan 100